# Dependencies
node_modules
bun.lock

# Build output
dist
dist-ssr
*.local

# Environment
.env
.env.local
.env.production

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*
